@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('../fonts/SEGA.woff') format('woff');
}

#main-heading {
  font-family: 'SEGA LOGO FONT';
}